body{
    background: red;
    color: yellow;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
    
}
    h1{
        font-size: 44px;
        text-align: center;
        
    }
    
    
  

