body{
    background: url(../img/background.jpg);
    background-repeat: repeat;
    font-family: 'Mountains of Christmas', cursive;
}

.escondido{
    display: none;
}

.container-box{
    text-align: center;
    margin: 10%;
    background-color: rgba(59, 56, 73, 0.603);
}

h1{
    font-size: 70px;
    color: rgb(255, 255, 255);
}

h2{
    color: rgb(255, 255, 255);
}

.dropdowns{
    margin:5px;
}

.msg_resposta{
    font-weight: bolder;
    font-size: 22px;
    color: rgb(255, 255, 255);
}